In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/unclean_data.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 7: invalid start byte

In [5]:
data = pd.read_csv('data/unclean_data.csv', encoding = 'latin1')

In [7]:
data.head(10)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?Ã¿,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?Ã¿,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?Ã¿,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?Ã¿,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?Ã¿,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?Ã¿,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?Ã¿,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?Ã¿,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?Ã¿,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?Ã¿,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN

In [8]:
data.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [9]:
data.columns = data.columns.str.lower()

In [10]:
data.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_1_facebook_likes', 'gross', 'num_voted_users',
       'cast_total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [12]:
data.columns = data.columns.str.replace(".","_")

In [13]:
data.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_1_facebook_likes', 'gross', 'num_voted_users',
       'cast_total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'title_year_1'],
      dtype='object')

In [15]:
data.describe()

,num_critic_for_reviews,duration,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,title_year_1
count,14.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

In [16]:
data.shape

(14, 16)

In [30]:
data.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
director_facebook_likes       object
actor_3_facebook_likes         int64
actor_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
cast_total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
actor_2_facebook_likes       float64
imdb_score                   float64
title_year_1                 float64
dtype: object

In [17]:
data.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
director_facebook_likes      2
actor_3_facebook_likes       0
actor_1_facebook_likes       0
gross                        0
num_voted_users              1
cast_total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
actor_2_facebook_likes       1
imdb_score                   0
title_year_1                 7
dtype: int64

In [18]:
data['duration'] = data['duration'].fillna(data['duration'].mean())

In [26]:
data.drop(data.index[4], inplace = True)

In [27]:
data['num_voted_users'] = data['num_voted_users'].fillna(data['num_voted_users'].mean())
data['cast_total_facebook_likes'] = data['cast_total_facebook_likes'].fillna(data['cast_total_facebook_likes'].mean())
data['facenumber_in_poster'] = data['facenumber_in_poster'].fillna(data['facenumber_in_poster'].mean())
data['actor_2_facebook_likes'] = data['actor_2_facebook_likes'].fillna(data['actor_2_facebook_likes'].mean())
data['title_year_1'] = data['title_year_1'].fillna(data['title_year_1'].mean())

In [28]:
data.head()

,movie_title,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,title_year_1
0,Avatar?Ã¿,723,178.000000,10,855,1000,760505847,886204.0,4834.0,2.25,3054,237000000,2009,936.0,7.9,2009.000000
1,Pirates of the Caribbean: At World's End?Ã¿,302,150.727273,563,1000,40000,309404152,471220.0,48350.0,2.25,1238,300000000,2007,5000.0,7.1,2011.142857
2,Spectre?Ã¿,602,148.000000,20,161,11000,200074175,275868.0,11700.0,1.00,994,245000000,2015,393.0,6.8,2015.000000
3,The Dark Knight Rises?Ã¿,813,150.727273,22000,23000,27000,448130642,1144337.0,106759.0,2.25,2701,250000000,2012,23000.0,8.5,2011.142857
5,Spider-Man 3?Ã¿,392,156.000000,23,4000,24000,336530303,383056.0,46055.0,2.25,1902,258000000,2007,11000.0,6.2,2007.000000

In [29]:
data.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      2
actor_3_facebook_likes       0
actor_1_facebook_likes       0
gross                        0
num_voted_users              0
cast_total_facebook_likes    0
facenumber_in_poster         0
num_user_for_reviews         0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
title_year_1                 0
dtype: int64

In [31]:
data['director_facebook_likes'].fillna(data['director_facebook_likes'].mode()[0], inplace = True)

In [32]:
data.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_1_facebook_likes       0
gross                        0
num_voted_users              0
cast_total_facebook_likes    0
facenumber_in_poster         0
num_user_for_reviews         0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
title_year_1                 0
dtype: int64